.crdbtn{
    background-color: #271786;
    height: 2rem;
}
.hstack {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    }


@media (max-width: 753px){
    .hstack {
    display: block;
    }
  }
  
