
.headline {
    font-size: 5vw;
    /* color: white; */
    margin: 0 auto;
    text-align: center;
    padding: 2vh;
}

.text{
    text-align: center;
    margin: 2% 0;
}
.headandtext{
    margin: 3%;
}