.add {
    max-width: 90vw;
    margin: 3% auto;
    text-align: center;
    border: solid rgb(125, 119, 119) 6px ;
    border-radius: 1%;
    padding: 5vh;
    background-color: white;
}
  .addlabel {
    text-align: left;
    display: block;
    font-size: 1.7vw;
    color: grey;
    margin: auto;
    padding: 2%;
  }

  @media (max-width: 753px){
    .add {
      max-width: none;
      
    }
  }


  .page-footer{
    background-color: #212529;
  }

  .headline{
    color: rgb(136, 138, 141);
  }
  .text{
    color:  #e6e6e6 ;
  }

  
  .btnhover:hover{
    color: white;
  }
  /* #e6e6e6 אפור */
  /* #6c63ff */