@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Bellefair&family=Inconsolata:wght@500&family=Josefin+Sans&family=Moul&family=Open+Sans:wght@300;600&family=Rubik+Moonrocks&display=swap'); 
html{
    min-height: 100%;
}
.wrapper {
    padding: 20px;
}


nav ul a{
    text-decoration: none;

}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Andika', sans-serif;
}

form{
    padding: 20px;
    margin: 2%;
}
form button, form h5{
    margin: 2% 0;
}
nav{
    background-color:transparent;
}

